<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foreza.trouble.applovinsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AppLovin SDK Key -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="4F9zxUam64Pf5zxH-gRzfPKqxP1TS9Ji2UaNAJC0vdsDP148x3Lgy1hTDCTqus07FiIX5pPzVyfTi6gwqtz0KB" />

        <activity android:name=".FryingMeatInterstitialActivity" />
        <activity android:name=".FryingVeggiesInterstitialActivity" />
        <activity android:name=".OutOfTheFryingPanRewardedActivity" />
        <activity android:name=".AndIntoTheFireRewardedActivity"></activity>
    </application>

</manifest>